# RTSP Stream Konfiguration
RTSP_URL=rtsp://username:password@ip:port/stream

# Discord Konfiguration
DISCORD_CHANNEL_ID=your_channel_id
DISCORD_BOT_TOKEN=your_bot_token

# Screenshot Konfiguration
SCREENSHOT_INTERVAL=300  # 5 Minuten in Sekunden
SCREENSHOT_DIR=/app/screenshots
TIMELAPSE_DIR=/app/timelapse
MAX_VIDEO_SIZE_MB=10 