# Screenshot alle 5 Minuten
*/5 * * * * /app/screenshot_script.sh >> /var/log/screenshot.log 2>&1

# Timelapse-Video erstellen und senden um Mitternacht
0 0 * * * /app/screenshot_script.sh timelapse >> /var/log/screenshot.log 2>&1

@reboot /usr/local/bin/python3 /app/post_to_discord.py >> /var/log/discord_bot.log 2>&1